@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg);
}

.login__heading {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: var(--red);
    letter-spacing: 5px;
    font-size: 40px;
}

.login__subheading {
    letter-spacing: 0;
    font-size: 14px;
    align-self: flex-end;
    color: var(--white);
    margin-right: 4px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.login__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding: 8px 15px;
    color: var(--white);
    border: thin solid #888;
    border-radius: 5px;
    cursor: pointer;
    background: inherit;
    white-space: nowrap;
    font-weight: bold;
    transition: color .4s;
    outline-width: 0;

    &:hover {
        color: var(--googleblue);
    }
}

.login__svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}